<html xmlns="http://www.w3.org/1999/xhtml" ng-app="SimpleAngularJSApp">
<head>
    <title>SimpleAngularJSApp</title>


</head>

<body ng-controller="ItemsController as controller">
    <h2>Items</h2>
    <ul>
        <li ng-repeat="item in controller.items">{{item.name}}</li>
    </ul>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controllers/controller.js"></script>
</body>

</html>